# Node.js
node_modules/
npm-debug.log

# Android
android/app/build/outputs/
android/app/build/intermediates/

# iOS
ios/Pods/
ios/Podfile.lock
ios/Pods/Target Support Files/
ios/build/

# Capacitor
capacitor.config.json
capacitor.lock

# Build artifacts
dist/
